<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="UrlPBI" value="https://api.powerbi.com/beta/e4a5cd36-e58f-4f98-8a1a-7a8e545fc65a/datasets/243e7c95-e6c4-4588-874a-39098b3772bb/rows?key=nxxuniCT8Jey%2BWUurnp8UF4WkyaQL8VCzcth4WBwpn3xi%2Fo0U3SwkeN9%2FZH4yBu%2FBTkWitMvmLdLx30k5srdrg%3D%3D"/>
  </appSettings>
</configuration>